<nav class="navbar">
    <div class="navbar_logo_container">
            <a class="navbar_logo_link" href="/" alt="Lien page d'accueil">
                <img class="navbar_logo_image" src="{% static "img/logo_green.png" %}">
            </a>
    </div>
    <div class="navbar_link_container">
        <ul class="navbar_link_list">
            <li "navbar_link_content" id="navbarLinkContentLogin">
                <a class="navbar_login_link" id="navbarLoginLink" href="/">
                    <img class="navbar_link_image" id="navbarImageLogin" src="{% static "img/navbar/login-white.png" %}" alt="Lien inscription ou connection">
                    <p class="navbar_link_title" id="navbarTitleLogin">Se connecter</p>
                </a>
            </li>
            <li "navbar_link_content">
                <a class="navbar_shoppinglist_link" id="navbarShoppinglistLink" href="/">
                    <img class="navbar_link_image" id="navbarImageShoppinglist" src="{% static "img/navbar/list-white.png" %}" alt="Lien liste de course">
                    <p class="navbar_link_title" id="navbarTitleShoppingList">Liste</p>
                </a>
            </li>
            <li "navbar_link_content">
                <a class="navbar_scan_link" id="navbarScanLink" href="/">
                    <img class="navbar_link_image" id="navbarImageScan" src="{% static "img/navbar/scan-white.png" %}" alt="Lien scan">
                    <p class="navbar_link_title" id="navbarTitleScan">Scan</p>
                </a>
            </li>
            <li "navbar_link_content">
                <a class="navbar_help_link" id="navbarHelpLink" href="/">
                    <img class="navbar_link_image" id="navbarImageHelp" src="{% static "img/navbar/help-white.png" %}" alt="Lien aide">
                    <p class="navbar_link_title" id="navbarTitleHelp">Aide</p>
                </a>
            </li>
            <li "navbar_link_content">
                <a class="navbar_language_link" id="navbarLanguageLink" href="/">
                    <img class="navbar_link_image" id="navbarImageLanguage" src="{% static "img/navbar/french-flag-white.png" %}" alt="Lien langues">
                    <p class="navbar_link_title" id="navbarTitleLanguage">Langue</p>
                </a>
            </li>
            <li "navbar_link_content">
                <a class="navbar_basket_link" id="navbarBasketLink" href="/">
                    <img class="navbar_link_image" id="navbarImageBasket" src="{% static "img/navbar/basket-white.png" %}" alt="Lien panier">
                    <p class="navbar_link_title" id="navbarTitleBasket">Panier</p>
                </a>
            </li>
        </ul>
    </div>
</nav>