{% extends "layouts/base.html" %}
{% load static %}
{% comment %} {% load sass_tags %} {% endcomment %}

{% comment %} <link href="{% sass_src 'css/style.scss' %}" rel="stylesheet" type="text/css" /> {% endcomment %}
{% comment %} {% extends "layouts/base.html" %} {% endcomment %}

{% comment %} {% load compress%} {% endcomment %}

{% block css %}

{% comment %} {% compress css %}
    <link type="text/x-scss" href="{% static 'css/style_homepage.scss' %}" rel="stylesheet">
{% endcompress %} {% endcomment %}

{% endblock css %}

{% block title %}
    Homepage
{% endblock title %}

{% comment %} {% block search %}
    {% include "search.html" %}
{% endblock search %} {% endcomment %}

{% block body %}
<main class="main">
    <h1>Page accueil</h1>
</main>
{% endblock body %}

{% comment %} {% block javascript %}
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/footer.js' %}"></script>
    <script src="{% static 'js/homepage.js' %}"></script>
{% endblock javascript %} {% endcomment %}